*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    user-select: none;
}
a{
    text-decoration: none;
}
@media (max-width: 450px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 599px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

:root{
    --border-color:#000;
    --main-light-color:#FFD600;
    --main-high-color:#FF4242;
    --main-dark-color:#52C1FF;

    /* 基础间隔 */
    --basic-margin:2vmin; 
    /* 进度条高度 */
    --progress-h:1.5rem;
    /* 主界面 */
    --inner-shadow-w:0.5rem;
    --game-box-w:80%;
    /* 时间线 */
    --timeline-shadow-w:0.15rem;
    --timeline-shadow-h:0.15rem;
    /* 气泡框 */
    --bubble-shadow-w:0.15rem;
    --bubble-shadow-h:0.3rem;
    /* 数值框 */
    --data-shadow-w:0.15rem;
    --data-shadow-h:0.15rem;

    /* 内阴影颜色 */
    --inner-shadow-color:rgba(0,0,0,0.25);

    /* 时钟大小 */
    --clock-w:2.5rem;
    /* 时间点大小 */
    --time-point-w:1.2rem;
    /* 数值图标尺寸 */
    --info-icon-size:1.5rem;
    /* 数值进度条高度 */
    --info-progress-size:1.5rem;

    /* 主界面内padding */
    /* --main-padding-top:4rem; */
    --main-padding-top:70vh;
    --main-padding-left:8%;
    /* 左侧时间线宽度 */
    --main-time-line-w:1.3rem;
    /* 左侧时间点宽度 */
    --main-time-point-w:1.9rem;
    /* 左侧气泡框高度 */
    --main-bubble-h:7rem;
}

body{
    /* aspect-ratio: 1280 / 720; */
    min-width:750px;
    display: flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    padding:var(--basic-margin);
    padding-bottom:var(--basic-margin + 1rem);
    font-family: 'Pixelify Sans';
    font-weight: bold;
    overflow: hidden;
}
.timeline{
    height:var(--progress-h);
    width:100%;
    background-color: var(--border-color);
    border-radius:calc(var(--progress-h) / 2)
}
@keyframes timeline-grow{
    0%{
        width:0%;
    }
    100%{
        width:100%;
    }
}
.current-timeline{
    width:0%;
    height:100%;
    background-color: #fff;
    border:solid 4px var(--border-color);
    border-radius:calc(var(--progress-h) / 2);
    position:relative;
    transition-property: width;
    transition-duration: 0.1s;
    /* animation: timeline-grow linear forwards;
    animation-timeline: --game-scroll; */
}
.time-point{
    position:absolute;
    top:0;
    transform:translateY(50%);
    left:10%;
    width:var(--time-point-w);
    aspect-ratio: 1;
    background-color: var(--main-light-color);
    border-radius: 50%;
    border:4px solid var(--border-color);
    z-index:2;
}
.tp-1{left:calc( 1 / 12 * 100%);}
.tp-3{left:calc( 3 / 12 * 100%);}
.tp-5{left:calc( 5 / 12 * 100%);}
.tp-7{left:calc( 7 / 12 * 100%);}
.tp-8{left:calc( 8 / 12 * 100%);}
.tp-9{left:calc( 9 / 12 * 100%);}
.tp-10{left:calc( 10 / 12 * 100%);}
.tp-11{left:calc( 11 / 12 * 100%);}
/* 时钟 */
.clock{
    width:var(--clock-w);
    aspect-ratio: 1;
    position:absolute;
    right:0px;
    z-index:10;
    transform: translate(50%,-50%);
    top:50%;
}
.clock>span{
    display: inline-block;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.clock-back{
    background-image: url(../img/时钟-表盘.png);
    z-index:1;
}
@keyframes rotate{
    0%{
        transform:rotateZ(0deg);
    }
    100%{
        transform:rotateZ(360deg);
    }
}
.clock-hour{
    background-image: url(../img/时钟-时针.png);
    z-index:2;
    animation:rotate 60s linear infinite;
}
.clock-minut{
    background-image: url(../img/时钟-分针.png);
    z-index:2;
    animation:rotate 1s linear infinite;
}
.main-content{
    flex:1;
    margin-top:var(--basic-margin);
    display: flex;
    gap:1rem;
    overflow: hidden;
}
.game-box-wrapper{
    width:var(--game-box-w);
    border:4px solid var(--border-color);
    background-color: var(--main-dark-color);
    --shadow-w:var(--inner-shadow-w);
    box-shadow:inset var(--shadow-w) var(--shadow-w) 0 var(--shadow-w) var(--inner-shadow-color);

    overflow: hidden;
}

/* 右侧信息盒子 */

.info-box{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data-box{
    width:100%;
}
.data-item{
    display: flex;
    align-items: center;
    margin-bottom:0.2rem;
}
.data-icon{
    width:var(--info-icon-size);
    aspect-ratio: 1;
    background-image: url(../img/blood.png);
    background-size: contain;
    margin-right:0.5rem;
}
.data-item:nth-child(2)>.data-icon{
    background-image: url(../img/energy.png);
}
.data-item:nth-child(3)>.data-icon{
    background-image: url(../img/hunger.png);
}
.data-text{
    font-size:calc(var(--info-icon-size) * 1.2);
    margin-right:0.7rem;
    width:2.5rem;
}
.data-preogress{
    flex:1;
    border:3px solid var(--border-color);
    border-radius: 10rem;
    height:var(--info-progress-size);
    position:relative;
    overflow: hidden;
}
.data-left{
    box-sizing: content-box;
    position:absolute;
    left:-3px;
    top:-3px;
    display: block;
    height:100%;
    width:50%;
    border-radius: 10rem;
    border:3px solid var(--border-color);
    background-color: #000;
    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
.data-item:nth-child(1){
    --hover-color: var(--main-high-color);
}
.data-item:nth-child(2){
    --hover-color: var(--main-dark-color);
}
.data-item:nth-child(3){
    --hover-color: var(--main-light-color);
}

/* 气泡框 */
.bubble-box{
    background-image: url(../img/bubble.png);
    width:100%;
    background-size: 100% 100%;
    /* aspect-ratio: 258 / 222; */
    flex:1;
    margin-top:2.5rem;
    padding:1rem;
}
.bubble-text-wrapper{
    width:100%;
    height: calc( 100% * 150 / 222);
    display: grid;
    place-items:center;
    overflow-y:scroll;
}
.bubble-text-wrapper::-webkit-scrollbar{
    width:0px;
}
.bubble-text{
    display: flex;
    flex-direction: column;
    font-size:1.7rem;

}
/* 头像立绘 */

.head-box{
    background-color: #fff;
    width:calc(100% - 2rem);
    aspect-ratio: 1;
    border-radius:10px;
    border: 6px solid var(--border-color);
    margin-top:1rem;
    background-image: url(../img/1.png);
    background-size:cover;
    background-position: center;
}

/*  */
.game-box{
    /* width:var(--game-box-w); */
    height:100%;
    border:4px solid var(--border-color);
    background-color: var(--main-dark-color);
    --shadow-w:var(--inner-shadow-w);
    box-shadow:inset var(--shadow-w) var(--shadow-w) 0 var(--shadow-w) var(--inner-shadow-color);
    display: flex;
    padding:var(--main-padding-top) var(--main-padding-left);
    overflow-y: scroll;
    scroll-timeline-name: --game-scroll;
}
.game-box::-webkit-scrollbar{
    width:0.7rem;
}
.game-box::-webkit-scrollbar-track{
    /* background-color: red; */
}
.game-box::-webkit-scrollbar-thumb{
    background-color: var(--inner-shadow-color);
    border-radius: 10px;
}
.game-time-line{
    background-color: #fff;;
    width:var(--main-time-line-w);
    border-radius:calc(var(--main-time-line-w) / 2);
    border:6px solid var(--border-color);
    height:100%;
}

.question-box{
    height:fit-content;
    flex:1;
    position:relative;
    padding-top:3rem;
    display: flex;
    flex-direction: column;
    gap:7rem;
}



.question{
    display: flex;
    align-items: center;
    gap:3rem;
    transform:translateX(
        calc( var(--main-time-line-w) / 2 * -1 + var(--main-time-point-w) / 2 * -1 )    
    );
}
.ques-point{
    width:var(--main-time-point-w);
    height:var(--main-time-point-w);
    background-color: var(--main-light-color);
    border-radius: 50%;
    border:6px solid var(--border-color);
}
.ques-bubble{
    flex:1;
    background-image: url(../img/event-bubble.png);
    background-size: 100% 100%;
    background-position:center;
    aspect-ratio: 718 / 137;
    display: flex;
    justify-content: end;
    animation:slide-in forwards ease-in-out;
    animation-timeline: view();
    animation-range: 20% 60%;
}
@keyframes slide-in{
    0%{
        opacity: 0;
        transform:scaleX(0)
    }
    100%{
        opacity: 1;
        transform: scaleX(1);
    }
}
.ques-bubble-inner{
    width:calc(650 / 715 * 100%);
    display: grid;
    place-items: center;
    position:relative; 
    padding:6px;
}
.ques-time{
    position:absolute;
    top:-0.5rem;
    left:0;
    transform:translateY(-100%);
    font-size:1rem;
    color:#fff;
    text-shadow: 2px 0 #000,
	            -2px 0 #000,
	            0 2px #000,
	            0 -2px #000,
	            2px 2px #000,
	            -2px -2px #000,
	            2px -2px #000,
	            -2px 2px #000;
}
.ques-text{
    font-size:3rem;
    color:#fff;
    text-shadow: 4px 0 #000,
	            -4px 0 #000,
	            0 4px #000,
	            0 -4px #000,
	            4px 4px #000,
	            -4px -4px #000,
	            4px -4px #000,
	            -4px 4px #000;
}
/* 粗线条阴影相关设置： */

.clock,
.time-point,
.current-timeline{
    --shadow-w:var(--timeline-shadow-w);
    --shadow-h:var(--timeline-shadow-h);
    filter:drop-shadow(var(--shadow-w) var(--shadow-h) 0px black);
}

.data-icon,
.data-text,
.data-preogress{
    --shadow-w:var(--data-shadow-w);
    --shadow-h:var(--data-shadow-h);
    filter:drop-shadow(var(--shadow-w) var(--shadow-h) 0px var(--inner-shadow-color));
}
.bubble-box,
.head-box{
    --shadow-w:var(--bubble-shadow-w);
    --shadow-h:var(--bubble-shadow-h);
    filter:drop-shadow(var(--shadow-w) var(--shadow-h) 0px black);
}
.ques-point,
.ques-bubble,
.ques-time,
.game-time-line{
    --shadow-w:var(--timeline-shadow-w);
    --shadow-h:var(--timeline-shadow-h);
    filter:drop-shadow(var(--shadow-w) var(--shadow-h) 0px black);
}

.question,.ques-point{
    transition-property: transform;
    transition-duration:0.2s;
}
/* 交互部分 */
.question:hover{
    cursor: pointer;
    transform: translateX(1rem);
}
.question:hover>.ques-point{
    transform: translateX(-2.6rem);
    background-color: var(--main-high-color);
}
.head-box,
.bubble-box,
.data-item,
.time-point{
    transition-property: transform;
    transition-duration:0.1s;
    cursor: pointer;
}
.head-box:hover,
.bubble-box:hover{
    transform: translateY(-0.5rem);
}
.data-item:hover{
    transform: translateY(-0.1rem);
}
.time-point:hover{
    transform: translateY(40%);
}
.data-item,
.time-point{
    cursor: pointer;
}
.data-item:hover>.data-text{
    color:var(--hover-color);
}
.data-item:hover>.data-preogress>.data-left{
    background-color: var(--hover-color);
}
.clock{
    cursor: pointer;
}
.clock:hover>.clock-minut{
    animation-duration: 0.25s;
}
.clock:hover>.clock-hour{
    animation-duration: 15s;
}